<style>
    tr, th, td{
        width: 500px;
        margin: 10px 30px;
    }
</style>
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Quản lý Shop bán quần áo <sup>2</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" asp-action="Index" asp-area="Admin" asp-controller="Home">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Trang chủ</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Interface
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
           asp-action="Index" asp-area="Admin" asp-controller="AdminTheloais">
            <i class="fas fa-fw fa-cog"></i>
            <span>Quản lý thể loại</span>
        </a>

        <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
           asp-controller="NhaCungCap" asp-area="Admin" asp-action="Index">
            <i class="fas fa-fw fa-cog"></i>
            <span>Quản lý nhà cung cấp</span>
        </a>

        <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
           asp-controller="NoiNhap" asp-area="Admin" asp-action="Index">
            <i class="fas fa-fw fa-cog"></i>
            <span>Quản lý nơi nhập</span>
        </a>

        <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
           asp-controller="PhieuNhap" asp-area="Admin" asp-action="Index">
            <i class="fas fa-fw fa-cog"></i>
            <span>Quản lý phiếu nhập</span>
        </a>

        <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
           asp-controller="PhieuXuat" asp-area="Admin" asp-action="Index">
            <i class="fas fa-fw fa-cog"></i>
            <span>Quản lý phiếu xuất</span>
        </a>

        <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
           asp-controller="ThongKe" asp-area="Admin" asp-action="Index">
            <i class="fas fa-fw fa-cog"></i>
            <span>Thống kê</span>
        </a>
        
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Custom Components:</h6>
                <a class="collapse-item" href="buttons.html">Buttons</a>
                <a class="collapse-item" href="cards.html">Cards</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" asp-action="Index" asp-area="Admin" asp-controller="AdminSanphams">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Quản lý sản phẩm</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Quản lý tài khoản</h6>
                <a class="collapse-item" href="utilities-color.html">Colors</a>
                <a class="collapse-item" href="utilities-border.html">Borders</a>
                <a class="collapse-item" href="utilities-animation.html">Animations</a>
                <a class="collapse-item" href="utilities-other.html">Other</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Addons
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapsePages"
           asp-action="Index" asp-area="Admin" asp-controller="AdminOrders">
            <i class="fas fa-fw fa-folder"></i>
            <span>Quản lý đơn hàng</span>
        </a>
        
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapsePages"
           asp-action="Index" asp-area="Admin" asp-controller="AdminOrderDetais">
            <i class="fas fa-fw fa-folder"></i>
            <span>Quản lý chi tiết đơn hàng</span>
        </a>
        
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapsePages"
           asp-action="Index" asp-area="Admin" asp-controller="AdminTakhoans">
            <i class="fas fa-fw fa-folder"></i>
            <span>Quản lý tài khoản</span>
        </a>
    </li>

    

    <!-- Nav Item - Tables -->
    <li class="nav-item">
        <a class="nav-link" href="tables.html">
            <i class="fas fa-fw fa-table"></i>
            <span>Các bảng database</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
        <a href="../Login/logout">Đăng xuất</a>
    </div>

    <!-- Sidebar Message -->
    <div class="sidebar-card d-none d-lg-flex">
        <img class="sidebar-card-illustration mb-2" src="img/undraw_rocket.svg" alt="...">
        <p class="text-center mb-2"><strong>SB Admin Pro</strong> is packed with premium features, components, and more!</p>
        <a class="btn btn-success btn-sm" href="https://startbootstrap.com/theme/sb-admin-pro">Upgrade to Pro!</a>
    </div>

</ul>
